<div class="center-elements" >
  <div class="center-text" [class]="'container-'+current_size">
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>ID CARD</mat-label>
        <input matInput formControlName="card_id" placeholder="Ex. MON294" oninput="this.value = this.value.toUpperCase()">
        @if (form.value.card_id)
        {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="openDialog()">
            <mat-icon color="primary">send</mat-icon>
          </button>
        }
      </mat-form-field>
    </form>
  </div>
</div>
